@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin underline {
    content: "";
    position: absolute;
    left: 100%;
    right: 100%;
    background-color: $navlistcolor;
    border-radius: 100px;
    height: 3px;
}

//!Varables start
$backgroud:#333333;
$navlistcolor:#FF8235;
$Socallogo: ("telegram": #0088CC, "instagram":#833ab4, "twitter":#1DA1F2, "facebook":#1778F2, "github":#211F1F, "linkedin":#0e76a8);
//!main body start
body,
html {
    margin: 0px;
    background-color: $backgroud;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#head {
    display: flex;
    justify-content: center;
    background: #667db6;
    background: linear-gradient(to right, #000000, #434343);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    top: 0px;
    width: 100%;
    transition: top 0.7s;
    z-index: 1;
}

#Navlist {
    @include center();
    margin: 0;
    padding: 0;
    a {
        margin: 0px 50px 0 0;
        font-size: 100%;
        color: white;
        position: relative;
        text-decoration: none;
        &::after {
            bottom: 0;
            @include underline();
        }
        &:hover {
            color: $navlistcolor;
            &::after {
                left: 0%;
                right: 0%;
                transition: all 0.5s;
            }
        }
    }
}

#logo {
    padding: 0;
    margin: 0;
    img {
        height: 100px;
    }
}

#logo1 {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    img {
        height: 100px;
    }
}

#header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    user-select: none;
}

#box {
    padding-left: 50px;
    height: 0;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#back {
    a {
        text-decoration: none;
        justify-content: left;
        font-family: 'Space Grotesk', sans-serif;
        display: inline-block;
        &:visited {
            text-decoration: none;
            color: black;
        }
    }
    .fa-arrow-left {
        color: black;
        display: inline-block;
    }
}

#Error {
    padding: 0;
    margin: 0;
    h1 {
        color: black;
        padding: 0;
        margin: 0;
        font-size: 30px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        padding-top: 50px;
    }
    p {
        color: black;
        padding: 10px;
        margin-top: 0;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
    }
    button {
        color: black;
        background-color: transparent;
        padding: 15px 5px;
        margin: 10px 5px;
        text-align: center;
        text-overflow: clip;
        transition: background-color 0.5s ease-in-out;
        &:hover {
            background-color: gold;
        }
    }
}

//!start Media