@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin underline {
    content: "";
    position: absolute;
    left: 100%;
    right: 100%;
    background-color: $navlistcolor;
    border-radius: 100px;
    height: 3px;
}

//!Varables start
$backgroud: #333333;
$navlistcolor: #ff8235;
$Socallogo: ( "telegram": #0088cc, "instagram": #833ab4, "twitter": #1da1f2, "facebook": #1778f2, "github": #211f1f, "linkedin": #0e76a8, );
//!main body start
body,
html {
    margin: 0px;
    background-color: $backgroud;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#head {
    display: flex;
    justify-content: center;
    background: #667db6;
    background: linear-gradient(to right, #000000, #434343);
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    top: 0px;
    width: 100%;
    transition: top 0.7s;
    z-index: 1;
}

#Navlist {
    @include center();
    margin: 0;
    padding: 0;
    a {
        margin: 0px 50px 0 0;
        font-size: 100%;
        color: white;
        position: relative;
        text-decoration: none;
        &::after {
            bottom: 0;
            @include underline();
        }
        &:hover {
            color: $navlistcolor;
            &::after {
                left: 0%;
                right: 0%;
                transition: all 0.5s;
            }
        }
    }
}

#logo {
    padding: 0;
    margin: 0;
    img {
        height: 100px;
    }
}

#logo1 {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    img {
        height: 100px;
    }
}

#header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    user-select: none;
}

#box {
    padding-left: 50px;
    height: 0;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#back {
    a {
        text-decoration: none;
        justify-content: left;
        font-family: "Space Grotesk", sans-serif;
        display: inline-block;
        &:visited {
            text-decoration: none;
            color: black;
        }
    }
    .fa-arrow-left {
        color: black;
        display: inline-block;
    }
}

#Error {
    padding: 0;
    margin: 0;
    h1 {
        color: black;
        padding: 0;
        margin: 0;
        font-size: 30px;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        padding: 10px;
        padding-top: 50px;
    }
    p {
        color: black;
        padding: 10px;
        margin-top: 0;
        font-family: "Space Grotesk", sans-serif;
        font-size: 20px;
    }
    a {
        color: black;
        background-color: transparent;
        padding: 0;
        margin: 10px 5px;
        text-overflow: clip;
        transition: background-color 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

//!start Media
@media (max-width: 1000px) {
    #box {
        padding: 0;
    }
    #Error {
        padding: {
            left: 30px;
            bottom: 30px;
            right: 30px;
        }
        h1 {
            text-align: center !important;
        }
        p {
            padding: 0;
            text-align: center !important;
        }
    }
}

@media (max-width: 900px) {
    #Error {
        h1 {
            font-size: 3vw;
        }
        p {
            font-size: 2vw;
        }
        a {
            font-size: 1.5vw;
        }
    }
}

@media (max-width: 700px) {
    #box {
        width: 100%;
        height: 50%;
    }
    #Navlist {
        a {
            margin: 0px 20px 0 0;
        }
    }
    #Error {
        height: 100%;
        h1 {
            font-size: 6vw;
        }
        p {
            padding: {
                top: 50px;
            }
            font-size: 4vw;
        }
        a {
            font-size: 4vw;
        }
    }
}

@media (max-width: 500px) {
    #Navlist {
        display: none;
    }
    #logo1 {
        display: none;
    }
}