body,
html {
  margin: 0px;
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #667db6;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  top: 0px;
  width: 100%;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  z-index: 1;
}

#Navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

#Navlist a {
  margin: 0px 50px 0 0;
  font-size: 100%;
  color: white;
  position: relative;
  text-decoration: none;
}

#Navlist a::after {
  bottom: 0;
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  background-color: #FF8235;
  border-radius: 100px;
  height: 3px;
}

#Navlist a:hover {
  color: #FF8235;
}

#Navlist a:hover::after {
  left: 0%;
  right: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#logo {
  padding: 0;
  margin: 0;
}

#logo img {
  height: 100px;
}

#logo1 {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
}

#logo1 img {
  height: 100px;
}

#header {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box {
  padding-left: 50px;
  height: 0;
  width: auto;
  height: auto;
  padding-bottom: 50px;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#back a {
  text-decoration: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: 'Space Grotesk', sans-serif;
  display: inline-block;
}

#back a:visited {
  text-decoration: none;
  color: black;
}

#back .fa-arrow-left {
  color: black;
  display: inline-block;
}

#Error {
  padding: 0;
  margin: 0;
}

#Error h1 {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  padding-top: 50px;
}

#Error p {
  color: black;
  padding: 10px;
  margin-top: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
}

#Error button {
  color: black;
  background-color: transparent;
  padding: 15px 5px;
  margin: 10px 5px;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#Error button:hover {
  background-color: gold;
}
/*# sourceMappingURL=404.css.map */