@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

body,
html {
  margin: 0px;
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#head {
  background: #667db6;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  top: 0px;
  width: 100%;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  z-index: 1;
}

#footer {
  background-color: black;
  margin: 0;
  padding-top: 100px;
  width: 100%;
}

#footer P {
  margin: 0;
  padding: 0;
}

#Navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

#Navlist a {
  margin: 0px 50px 0 0;
  font-size: 100%;
  color: white;
  position: relative;
  text-decoration: none;
}

#Navlist a::after {
  bottom: 0;
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  background-color: #FF8235;
  border-radius: 100px;
  height: 3px;
}

#Navlist a:hover {
  color: #FF8235;
}

#Navlist a:hover::after {
  left: 0%;
  right: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#SDD {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

#SDD p::after {
  margin-top: 25px;
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  background-color: #FF8235;
  border-radius: 100px;
  height: 3px;
}

#SDD p:hover {
  cursor: pointer;
  color: #FF8235;
}

#SDD p:hover i {
  cursor: pointer;
  color: #FF8235;
}

#SDD p:hover::after {
  left: 15%;
  right: 15%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#logo {
  padding: 0 0;
  margin: 0 0;
}

#logo img {
  height: 100px;
}

#arrow.flip {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#social {
  display: -ms-grid;
  display: grid;
  padding: 7px;
  overflow: hidden;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
}

#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto 0fr 200px;
      grid-template-columns: 100px auto 0fr 200px;
  -webkit-transition: grid-template-columns 0.4s;
  transition: grid-template-columns 0.4s;
  transition: grid-template-columns 0.4s, -ms-grid-columns 0.4s;
  grid-auto-rows: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header.social {
  -ms-grid-columns: 100px auto 0.6fr 200px;
      grid-template-columns: 100px auto 0.6fr 200px;
  -webkit-transition: grid-template-columns 1s;
  transition: grid-template-columns 1s;
  transition: grid-template-columns 1s, -ms-grid-columns 1s;
}

.fa {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
}

.fa.fa-telegram {
  background: -webkit-gradient(linear, left top, left bottom, from(#0088CC));
  background: linear-gradient(#0088CC);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#833ab4));
  background: linear-gradient(#833ab4);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-twitter {
  background: -webkit-gradient(linear, left top, left bottom, from(#1DA1F2));
  background: linear-gradient(#1DA1F2);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-facebook {
  background: -webkit-gradient(linear, left top, left bottom, from(#1778F2));
  background: linear-gradient(#1778F2);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-github {
  background: -webkit-gradient(linear, left top, left bottom, from(#211F1F));
  background: linear-gradient(#211F1F);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-linkedin {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e76a8));
  background: linear-gradient(#0e76a8);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-telegram:hover {
  color: #0088CC;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-instagram:hover {
  color: #833ab4;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-twitter:hover {
  color: #1DA1F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-facebook:hover {
  color: #1778F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-github:hover {
  color: #211F1F;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-angle-right {
  display: inline-block;
}

.fa.fa-angle-right:hover {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

#box {
  padding-left: 50px;
  height: 0;
  width: auto;
  height: auto;
  padding-bottom: 50px;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#back a {
  text-decoration: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: 'Space Grotesk', sans-serif;
  display: inline-block;
}

#back .fa-arrow-left {
  color: black;
  display: inline-block;
}

#Error {
  padding: 0;
  margin: 0;
}

#Error h1 {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  padding-top: 50px;
}

#Error p {
  color: black;
  padding: 10px;
  margin-top: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
}

#Error button {
  color: black;
  background-color: transparent;
  padding: 15px 5px;
  margin: 10px 5px;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#Error button:hover {
  background-color: gold;
}
/*# sourceMappingURL=404.css.map */