   //!start keyframes
   @keyframes rotate {
       100% {
           transform: rotate(90deg);
       }
   }
   
   // !Start Mixins
   @mixin socialsize {
       font-size: 25px;
       margin: 5px 15px;
       padding: 20px;
       height: 25px;
       width: 25px;
   }
   
   @mixin socialhover {
       transition: ease-out 0.5s;
       background: white;
   }
   
   @mixin center {
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   //!Varables start
   $backgroud:#333333;
   $Socallogo: ("telegram": #0088CC, "instagram": #0088CC, "twitter":#1DA1F2, "facebook":#1778F2, "github":#211F1F, "linkedin":#0e76a8);
   //!main body start
   body,
   html {
       margin: 0px;
       background-color: $backgroud;
       font-family: 'Montserrat', sans-serif;
       overflow-x: hidden;
   }
   
   #head {
       background-color: #0088CC;
       font-family: 'Space Grotesk', sans-serif;
       font-size: 20px;
       position: fixed;
       display: block;
       top: -150px;
       width: 100%;
       transition: top 0.7s;
       z-index: 1;
   }
   
   #footer {
       background-color: black;
       margin: 0;
       padding-top: 100px;
       width: 100%;
       P {
           margin: 0;
           padding: 0;
       }
   }
   
   //classes and ID's
   #Navlist {
       display: flex;
       align-items: center;
       margin: 0;
       padding: 0;
       a {
           margin: 0px 50px 0 0;
           font-size: 100%;
           color: white;
           position: relative;
           text-decoration: none;
           &::after {
               content: "";
               position: absolute;
               left: 100%;
               right: 100%;
               bottom: 0;
               background-color: black;
               border-radius: 100px;
               height: 3px;
           }
           &:hover {
               color: black;
               &::after {
                   left: 0%;
                   right: 0%;
                   transition: all 0.5s;
               }
           }
       }
   }
   
   #logo {
       padding: 0 0;
       margin: 0 0;
       img {
           height: 100px;
       }
   }
   
   #SDD {
       color: white;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: right;
       margin-right: 50px;
       margin-bottom: 10px;
       overflow: hidden;
       &::after {
           display: block;
           content: 'test';
           position: absolute;
           bottom: 0;
       }
       p {
           display: block;
       }
       &:hover {
           cursor: pointer;
           &::after {
               font-size: 50px;
           }
       }
   }
   
   #social {
       display: grid;
       padding: 7px;
       overflow: hidden;
       left: -50;
       grid-template-columns: 100px 100px 100px 100px 100px auto;
       grid-auto-rows: auto;
   }
   
   #header {
       display: grid;
       grid-template-columns: 100px auto auto 200px;
       grid-auto-rows: auto;
   }
   
   #Spotify {
       position: flex;
       justify-content: right;
       align-items: center;
       display: none;
   }
   
   .fa {
       color: white;
       @include center;
       text-align: center;
       text-decoration: none;
       @each $logo,
       $i in $Socallogo {
           &.fa-#{$logo} {
               background: linear-gradient($i);
               @include socialsize();
           }
       }
       @each $logo,
       $i in $Socallogo {
           &.fa-#{$logo}:hover {
               color: $i;
               @include socialhover();
           }
       }
       &.fa-angle-right {
           display: inline-block;
           &:hover {
               animation-name: rotate;
               animation-duration: 200ms;
           }
       }
   }
   
   #placeholder {
       margin-bottom: 1000px;
   }
   
   .btn {
       color: black;
       background-color: transparent;
       padding: 15px 5px;
       margin: 10px 5px;
       text-align: center;
       text-overflow: clip;
       transition: background-color 0.5s ease-in-out;
       &:hover {
           background-color: gold;
       }
   }
   
   #resume {
       margin-top: 5%;
   }
   
   #Title {
       @include center();
   }
   
   #splash {
       padding-top: 56.25%;
       background-image: url(/src/Images/Public/image-placeholder.jpg);
       background-size: 100% 100%;
       opacity: 0.3;
       background-color: black;
       position: relative;
   }
   
   #intro {
       color: white;
       margin-top: 20px;
       padding-left: 25px;
       box-shadow: 5px;
       width: 50%;
       display: flex;
       align-self: left;
       align-items: center;
       padding-bottom: 20px;
       background-color: lighten($backgroud, 10%);
       p {
           margin: 15px;
       }
       h2 {
           text-align: center;
           margin: 10px;
       }
   }
   
   #introimg {
       img {
           height: 200px;
           width: 200px;
           border-width: 50px;
       }
   }
   
   //!start Media