//!fonts

/*
font-family: 'Khula', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

// !Start Mixins
@mixin socialsize {
    font-size: 25px;
    margin: 5px 15px;
    padding: 20px;
    height: 25px;
    width: 25px;
}

@mixin socialhover {
    transition: ease-out 0.5s;
    background: white;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin underline {
    content: "";
    position: absolute;
    left: 100%;
    right: 100%;
    background-color: $navlistcolor;
    border-radius: 100px;
    height: 3px;
}

@mixin zero {
    margin: 0;
    padding: 0;
}

@mixin flip {
    animation: {
        name: rotate;
        duration: 0.6s;
        iteration-count: 1;
        timing-function: ease;
        fill-mode: forwards;
    }
}

//!Varables start
$Mainfont: "Space Grotesk",
sans-serif;
$background: #333333;
$navlistcolor: #ff8235;
//!main body start
body,
html {
    margin: 0px;
    background-color: $background;
    font-family: "Khula", sans-serif;
    overflow-x: hidden;
}

#head {
    font-family: $Mainfont;
    font-size: 20px;
    top: 0px;
    width: 100%;
    position: fixed;
    transition: top 0.7s;
    z-index: 1;
}

#footer {
    background-color: black;
    margin: 0;
    padding-top: 100px;
    width: 100%;
    P {
        @include zero();
    }
}

//classes and ID's
#Navlist {
    display: flex;
    align-items: center;
    padding-left: 50px;
    a {
        margin: 0 50px 0 0;
        font-size: 100%;
        color: white;
        position: relative;
        text-decoration: none;
        &::after {
            bottom: 0;
            @include underline();
        }
        &:hover {
            color: $navlistcolor;
            &::after {
                left: 0%;
                right: 0%;
                transition: all 0.5s;
            }
        }
    }
}

#NavDrop {
    z-index: 0;
    display: none;
    align-items: center;
    margin: 0;
    position: relative;
    list-style: none;
    width: 15vw;
    transition: all 1s ease-in-out;
    p {
        cursor: pointer;
        margin: 0;
        font-size: 100%;
        color: white;
        position: relative;
        text-decoration: none;
        &::after {
            margin-top: 27px;
            @include underline();
        }
        &:hover {
            i {
                cursor: pointer;
                color: $navlistcolor;
            }
            color: $navlistcolor;
            &::after {
                left: 0%;
                right: 0%;
                transition: all 0.5s;
            }
        }
    }
    li {
        ul {
            visibility: hidden;
        }
    }
    ul {
        list-style: none;
        background: none;
        left: 0;
        padding: 0;
        position: absolute;
        top: -300px;
        z-index: -999;
        li {
            background: #090909;
            padding: {
                top: 2vw;
                left: 4vw;
                right: 4vw;
                bottom: 2vw;
            }
            position: relative;
            &::before {
                @include underline();
                top: 0;
                left: 0;
                right: 0;
                background-color: white;
            }
            a {
                @include center();
                width: auto !important;
                text-decoration: none;
                padding: 0;
                text-align: left;
                color: white;
                position: relative;
                &::after {
                    @include underline();
                    bottom: 0;
                }
                &:hover {
                    cursor: pointer;
                    color: $navlistcolor;
                    &::after {
                        left: 15%;
                        right: 15%;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
    &.drop {
        li {
            ul {
                height: auto;
                visibility: visible;
            }
        }
        ul li {
            animation: {
                name: moveDown;
                duration: 0.6s;
                iteration-count: 1;
                timing-function: ease;
                fill-mode: forwards;
                delay: calc(var(--order) * 150ms);
            }
        }
    }
}

#SocialTurn {
    color: white;
    position: relative;
    @include center();
    margin: 0;
    padding: 0;
    p {
        &::after {
            margin-top: 30px;
            @include underline();
        }
        &:hover {
            cursor: pointer;
            color: $navlistcolor;
            i {
                cursor: pointer;
                color: $navlistcolor;
            }
            &::after {
                left: 15%;
                right: 10%;
                transition: all 0.5s;
            }
        }
    }
}

#SocialDrop {
    z-index: 0;
    list-style: none;
    transition: all 1s ease-in-out;
    text-align: right;
    padding-right: 15px;
    p {
        cursor: pointer;
        color: white;
        position: relative;
        text-decoration: none;
    }
    li ul {
        visibility: hidden;
        display: grid !important;
        grid-template-columns: auto;
    }
    ul {
        width: auto;
        list-style: none;
        background: none;
        right: 0;
        padding: 0;
        position: absolute;
        z-index: -999;
        li {
            background: #434343;
            padding: {
                top: 0;
                left: auto;
                right: 20px;
                bottom: 0;
            }
            p {
                font-family: $Mainfont;
            }
            a {
                width: 100%;
                left: 20px;
            }
             :hover p {
                color: black;
            }
        }
    }
    &.drop {
        li ul {
            height: auto;
            visibility: visible;
        }
        ul li {
            animation: {
                name: moveDown;
                duration: 0.4s;
                iteration-count: 1;
                timing-function: ease;
                fill-mode: forwards;
                delay: calc(var(--order) * 80ms);
            }
        }
    }
}

#logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    img {
        height: 150px;
        width: 150px;
    }
}

#arrow,
#arrownav {
    &.flip {
        @include flip();
    }
}

#arrow1 {
    &.flip {
        @include flip();
        animation-name: turn !important;
    }
}

#navtext1 {
    display: none;
    #arrownav1 {
        transform: rotate(180deg);
        &.flip {
            @include flip();
            animation-name: turn !important;
        }
    }
}

#header {
    display: grid;
    grid-template-columns: 50% 50%;
    user-select: none;
    position: relative;
}

.fab {
    $Socallogo: ( "telegram": #0088cc, "instagram": #833ab4, "twitter": #1da1f2, "facebook": #1778f2, "github": #211f1f, "linkedin": #0e76a8, );
    color: white;
    @include center;
    text-align: center;
    text-decoration: none;
    width: auto;
    margin: {
        right: 0 !important;
        left: 5px;
    }
    @each $logo,
    $i in $Socallogo {
        &.fa-#{$logo} {
            background: linear-gradient($i);
            @include socialsize();
        }
    }
    @each $logo,
    $i in $Socallogo {
        &.fa-#{$logo}:hover {
            color: $i;
            @include socialhover();
        }
    }
}

.fas {
    color: white;
    @include center;
    text-align: center;
    &.fa-quote-left,
    &.fa-quote-right,
    &.fa-angle-right {
        display: inline-block !important;
    }
    &.fa-chevron-down {
        padding: 0;
        margin: 0;
        font-size: 25px;
        animation: {
            name: bounce;
            duration: 1.5s;
            iteration-count: infinite;
            timing-function: linear;
            delay: calc(var(--order) * 300ms);
        }
    }
    &.fa-corner {
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: 0;
        @include zero();
        font: {
            size: 50px;
        }
    }
}

#body {
    margin-bottom: 1000px;
    position: relative;
    width: 100%;
}

#Title {
    @include center();
}

#splash {
    display: grid;
    grid-template-rows: auto auto auto;
    background: {
        image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/src/Images/Public/IMG_1183 (2)-min.JPG");
        attachment: fixed;
        position: relative;
        repeat: no-repeat;
    }
    background-position-x: center;
    user-select: none;
    p {
        color: white;
        font-size: 3vw;
        @include center();
        margin: 0;
    }
    h1 {
        color: white;
        @include center();
        padding-top: 4vh;
        margin: 0;
        font: {
            size: 8vw;
            family: $Mainfont;
        }
    }
}

#border {
    $turn: 1s;
    $duration: 0.5s;
    transition: {
        transform: rotate;
        duration: $turn;
        timing-function: ease;
        delay: 0s;
    }
    background: transparent;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 10px #eb311f solid;
        border-right: none;
        border-top: none;
        box-sizing: border-box;
    }
    &.animate {
        transform: rotate(225deg);
        &::before,
        &::after {
            width: 100%;
            height: 100%;
            transition: {
                property: height, width;
                duration: $duration, $duration;
                timing-function: ease;
                direction: initial;
                delay: $turn, $turn + $duration;
            }
        }
    }
    &.turn {
        transform: rotate(0deg);
        &::before,
        &::after {
            border: 5px white solid;
            top: 0;
            left: 0;
            width: 50%;
            height: 50%;
            border-right: none;
            border-bottom: none;
            transition: {
                property: height, width;
                duration: $duration, $duration;
                timing-function: ease;
                direction: initial;
                delay: $turn, $duration;
            }
        }
    }
}

#square {
    position: relative;
    height: 15vw;
    width: 15vw;
    margin: {
        left: auto;
        right: auto;
        top: 125px;
        bottom: 0;
    }
    img {
        width: 100%;
        height: 100%;
    }
    * {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

#blend {
    mix-blend-mode: multiply;
    * {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

#grid {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    span {
        position: relative;
    }
}

#Quote {
    $border: 7px;
    position: relative;
    @include center();
    color: white;
    margin-top: 0;
    padding-left: 0;
    width: calc(100% - (2 * $border));
    background-color: lighten($background, 10%);
    text-align: center;
    position: relative;
    border: $border solid white;
    &::before {
        content: "";
        position: absolute;
        top: $border * 3;
        left: -$border;
        right: 0;
        bottom: $border * 3;
        border: $border solid lighten($background, 10%);
        height: calc(100% - $border);
        width: 100%;
        border-radius: 20px;
    }
    &::after {
        content: "";
        position: absolute;
        top: -$border;
        bottom: -$border;
        left: $border * 3;
        right: $border * 3;
        border: $border solid lighten($background, 10%);
        height: 100%;
        width: calc(100% - (2 * $border));
        border-radius: 20px;
    }
    p {
        margin: {
            top: 30px;
            bottom: 30px;
            left: 0;
        }
        font: {
            family: "Khula", sans-serif;
            size: 25px;
        }
        padding: 0;
        display: inline-block;
        margin: {
            left: auto;
            right: auto;
        }
        text-align: center;
        width: 60%;
    }
    img {
        height: auto;
        width: 20%;
    }
}

#intro {
    color: white;
    margin-top: 0;
    padding-top: 0;
    background-color: lighten($background, 10%);
    display: grid;
}

//!start keyframes
@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}

@keyframes turn {
    to {
        transform: rotate(90deg);
    }
}

@keyframes bounce {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes moveDown {
    to {
        transform: translateY(550px);
    }
}

//!start Media
@media (max-width: 1500px) {
    #splash {
        p {
            font-size: 3vw;
            padding-top: 2vh;
            padding-bottom: 50px;
            margin: 0;
        }
        h1 {
            padding-top: 6vh;
            font-size: 8vw;
            font-family: $Mainfont;
        }
    }
}

@media (max-width: 1300px) {
    #square>* {
        margin-top: 30px;
    }
    #splash {
        p {
            font-size: 3vw;
        }
        h1 {
            padding-top: 50px;
            font-size: 8vw;
        }
    }
}

@media (max-width: 1100px) {
    #Navlist {
        display: none !important;
    }
    #NavDrop {
        width: auto;
        display: flex;
    }
    #square>* {
        margin-top: 40px;
    }
    #logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        img {
            height: 150px;
            width: 150px;
        }
    }
    #splash {
        background-attachment: scroll;
        h1 {
            padding-top: auto;
        }
        p {
            padding-top: 0;
        }
    }
    #SplashAD {
        padding-top: 0 !important;
    }
    #Quote {
        p {
            font-size: 2.5vw;
            width: 90%;
        }
    }
    #NavText {
        #arrownav1 {
            &.flip {
                @include flip();
                animation-name: turn !important;
            }
        }
    }
}

@media (max-width: 900px) {
    #social,
    #Navlist,
    #SocialTurn,
    #NavDrop,
    #SocialDrop,
    #SplashAD,
    #logo {
        display: none;
    }
    .fab {
        width: auto !important;
    }
    #head {
        position: relative;
    }
    #SocialTurn {
        color: white;
        position: relative;
        @include center();
        @include zero();
    }
    #splash {
        background-image: none;
    }
    #NavDrop {
        padding: 1%;
    }
    .fab {
        margin: {
            left: 10px !important;
            bottom: 10px;
        }
    }
    #Quote {
        p {
            font-size: 2.5vw;
            width: 80%;
        }
    }
}

@media (max-width: 400px) {
    #head {
        background: #434343;
    }
    #header {
        #logo {
            img {
                height: 50px;
                width: 50px;
            }
        }
        #NavDrop,
        #SocialDrop {
            display: none;
        }
    }
    #splash {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        user-select: none;
        p {
            padding: {
                top: 50px;
            }
            color: white;
            font-size: 3vw;
            margin: 0;
            text-align: left;
            grid-column: 2 / span 1;
        }
        h1 {
            color: white;
            margin: 0;
            font: {
                size: 8vw;
                family: $Mainfont;
            }
        }
    }
    .fab {
        margin: {
            left: 10px !important;
        }
    }
    #navtext {
        display: none;
    }
    #navtext1 {
        display: block;
    }
    #Quote {
        p {
            font-size: 5vw;
            width: 70vw;
        }
    }
}