   //!start keyframes
   @keyframes rotate {
       to {
           transform: rotate(180deg);
       }
   }
   
   @keyframes bounce {
       0% {
           opacity: 1;
           transform: translateY(0px) scale(1);
       }
       25% {
           opacity: 0;
           transform: translateY(10px) scale(0.9);
       }
       26% {
           opacity: 0;
           transform: translateY(-10px) scale(0.9);
       }
       55% {
           opacity: 1;
           transform: translateY(0px) scale(1);
       }
   }
   
   // !Start Mixins
   @mixin socialsize {
       font-size: 25px;
       margin: 5px 15px;
       padding: 20px;
       height: 25px;
       width: 25px;
   }
   
   @mixin socialhover {
       transition: ease-out 0.5s;
       background: white;
   }
   
   @mixin center {
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   @mixin underline {
       content: "";
       position: absolute;
       left: 100%;
       right: 100%;
       background-color: $navlistcolor;
       border-radius: 100px;
       height: 3px;
   }
   
   //!Varables start
   $backgroud:#333333;
   $navlistcolor:#FF8235;
   $Socallogo: ("telegram": #0088CC, "instagram":#833ab4, "twitter":#1DA1F2, "facebook":#1778F2, "github":#211F1F, "linkedin":#0e76a8);
   //!main body start
   body,
   html {
       margin: 0px;
       background-color: $backgroud;
       font-family: 'Montserrat', sans-serif;
       overflow-x: hidden;
   }
   
   #head {
       background: #667db6;
       background: linear-gradient(to right, #000000, #434343);
       font-family: 'Space Grotesk', sans-serif;
       font-size: 20px;
       position: fixed;
       top: 0px;
       width: 100%;
       transition: top 0.7s;
       z-index: 1;
   }
   
   #footer {
       background-color: black;
       margin: 0;
       padding-top: 100px;
       width: 100%;
       P {
           margin: 0;
           padding: 0;
       }
   }
   
   //classes and ID's
   #Navlist {
       display: flex;
       align-items: center;
       margin: 0;
       padding: 0;
       a {
           margin: 0px 50px 0 0;
           font-size: 100%;
           color: white;
           position: relative;
           text-decoration: none;
           &::after {
               bottom: 0;
               @include underline();
           }
           &:hover {
               color: $navlistcolor;
               &::after {
                   left: 0%;
                   right: 0%;
                   transition: all 0.5s;
               }
           }
       }
   }
   
   #SDD {
       color: white;
       position: relative;
       @include center();
       margin: 0;
       padding: 0;
       p {
           &::after {
               margin-top: 25px;
               @include underline();
           }
           &:hover {
               cursor: pointer;
               color: $navlistcolor;
               i {
                   cursor: pointer;
                   color: $navlistcolor;
               }
               &::after {
                   left: 15%;
                   right: 15%;
                   transition: all 0.5s;
               }
           }
       }
   }
   
   #logo {
       padding: 0 0;
       margin: 0 0;
       img {
           height: 100px;
       }
   }
   
   #arrow {
       &.flip {
           animation-name: rotate;
           animation-duration: 0.6s;
           animation-iteration-count: 1;
           animation-timing-function: ease;
           animation-fill-mode: forwards;
       }
   }
   
   #social {
       display: grid;
       padding: 7px;
       overflow: hidden;
       grid-template-columns: repeat(6, auto);
       grid-auto-rows: auto;
   }
   
   #header {
       display: grid;
       grid-template-columns: 100px auto 0fr 200px;
       transition: grid-template-columns 0.4s;
       grid-auto-rows: auto;
       user-select: none;
       &.social {
           grid-template-columns: 100px auto 0.6fr 200px;
           transition: grid-template-columns 1s;
       }
   }
   
   #Spotify {
       position: flex;
       justify-content: right;
       align-items: center;
       display: none;
   }
   
   .fa {
       color: white;
       @include center;
       text-align: center;
       text-decoration: none;
       @each $logo,
       $i in $Socallogo {
           &.fa-#{$logo} {
               background: linear-gradient($i);
               @include socialsize();
           }
       }
       @each $logo,
       $i in $Socallogo {
           &.fa-#{$logo}:hover {
               color: $i;
               @include socialhover();
           }
       }
       &.fa-angle-right {
           display: inline-block;
           &:hover {
               animation-name: rotate;
               animation-duration: 200ms;
           }
       }
       &.fa-chevron-down {
           margin: 0;
           padding: 0;
           font-size: 20px;
           animation-name: bounce;
           animation-duration: 1.4s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
       }
   }
   
   #placeholder {
       margin-bottom: 1000px;
   }
   
   .btn {
       color: black;
       background-color: transparent;
       padding: 15px 5px;
       margin: 10px 5px;
       text-align: center;
       text-overflow: clip;
       transition: background-color 0.5s ease-in-out;
       &:hover {
           background-color: gold;
       }
   }
   
   #resume {
       margin-top: 5%;
   }
   
   #Title {
       @include center();
   }
   
   #splash {
       padding: (56.25%)/6;
       padding-left: 0;
       padding-right: 0;
       background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/Images/China/IMG_1183\ \(2\).JPG');
       background-attachment: fixed;
       background-position: center;
       p {
           color: white;
           font-size: 50px;
           @include center();
       }
       h1 {
           color: white;
           @include center();
           font-size: 100px;
           font-family: 'Space Grotesk', sans-serif;
       }
   }
   
   #intro {
       color: white;
       margin-top: 20px;
       padding-left: 25px;
       box-shadow: 5px;
       width: 50%;
       display: flex;
       padding-bottom: 20px;
       background-color: lighten($backgroud, 10%);
       p {
           margin: 15px;
           font-family: 'Nunito Sans', sans-serif;
           font-size: 25px;
       }
       h2 {
           text-align: center;
           margin: 10px;
       }
   }
   
   #square {
       width: 350px;
       height: 350px;
       margin: auto;
       transform: rotate(-45deg);
       overflow: hidden;
       @include center;
       img {
           width: 500px;
           height: 500px;
           transform: rotate(45deg);
       }
   }
   
   //!start Media
   @media (max-width:1800px) {
       #header {
           &.social {
               grid-template-columns: 100px auto clamp(0.8fr, 0.7fr, 20%) 200px;
               transition: grid-template-columns 1s;
           }
       }
       #social {
           overflow: hidden;
           grid-template-columns: repeat(6, auto);
       }
   }
   
   @media (max-width:1500px) {}
   
   //! Start Qualifications
   #QTitle {
       padding: 100px;
       color: white;
       display: flex;
       justify-content: center;
   }