body,
html {
  margin: 0px;
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#head {
  background: #667db6;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  z-index: 1;
}

#footer {
  background-color: black;
  margin: 0;
  padding-top: 100px;
  width: 100%;
}

#footer P {
  margin: 0;
  padding: 0;
}

#Navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

#Navlist a {
  margin: 0px 50px 0 0;
  font-size: 100%;
  color: white;
  position: relative;
  text-decoration: none;
}

#Navlist a::after {
  bottom: 0;
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  background-color: #FF8235;
  border-radius: 100px;
  height: 3px;
}

#Navlist a:hover {
  color: #FF8235;
}

#Navlist a:hover::after {
  left: 0%;
  right: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#SDD {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

#SDD p::after {
  margin-top: 25px;
  content: "";
  position: absolute;
  left: 100%;
  right: 100%;
  background-color: #FF8235;
  border-radius: 100px;
  height: 3px;
}

#SDD p:hover {
  cursor: pointer;
  color: #FF8235;
}

#SDD p:hover i {
  cursor: pointer;
  color: #FF8235;
}

#SDD p:hover::after {
  left: 15%;
  right: 15%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#logo {
  padding: 0 0;
  margin: 0 0;
}

#logo img {
  height: 100px;
}

#arrow.flip {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#social {
  display: -ms-grid;
  display: grid;
  padding: 7px;
  overflow: hidden;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  grid-auto-rows: auto;
}

#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto 0fr 200px;
      grid-template-columns: 100px auto 0fr 200px;
  -webkit-transition: grid-template-columns 0.4s;
  transition: grid-template-columns 0.4s;
  transition: grid-template-columns 0.4s, -ms-grid-columns 0.4s;
  grid-auto-rows: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header.social {
  -ms-grid-columns: 100px auto 0.6fr 200px;
      grid-template-columns: 100px auto 0.6fr 200px;
  -webkit-transition: grid-template-columns 1s;
  transition: grid-template-columns 1s;
  transition: grid-template-columns 1s, -ms-grid-columns 1s;
}

#Spotify {
  position: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.fa {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
}

.fa.fa-telegram {
  background: -webkit-gradient(linear, left top, left bottom, from(#0088CC));
  background: linear-gradient(#0088CC);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#833ab4));
  background: linear-gradient(#833ab4);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-twitter {
  background: -webkit-gradient(linear, left top, left bottom, from(#1DA1F2));
  background: linear-gradient(#1DA1F2);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-facebook {
  background: -webkit-gradient(linear, left top, left bottom, from(#1778F2));
  background: linear-gradient(#1778F2);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-github {
  background: -webkit-gradient(linear, left top, left bottom, from(#211F1F));
  background: linear-gradient(#211F1F);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-linkedin {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e76a8));
  background: linear-gradient(#0e76a8);
  font-size: 25px;
  margin: 5px 15px;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.fa.fa-telegram:hover {
  color: #0088CC;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-instagram:hover {
  color: #833ab4;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-twitter:hover {
  color: #1DA1F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-facebook:hover {
  color: #1778F2;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-github:hover {
  color: #211F1F;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background: white;
}

.fa.fa-angle-right {
  display: inline-block;
}

.fa.fa-angle-right:hover {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.fa.fa-chevron-down {
  padding: 0;
  margin: 0;
  font-size: 25px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: calc(var(--order)*300ms);
          animation-delay: calc(var(--order)*300ms);
}

#placeholder {
  margin-bottom: 1000px;
}

.btn {
  color: black;
  background-color: transparent;
  padding: 15px 5px;
  margin: 10px 5px;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: gold;
}

#resume {
  margin-top: 5%;
}

#Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#splash {
  padding: 9.375%;
  padding-left: 0;
  padding-right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://dsm01pap002files.storage.live.com/y4mM6OxOmTMT6zlTZfsadYm8C2jHCVRNEAvIgDaQ22J1XWTgGI8ITGt8b_v_EHUyjgbV-FRvd0JL6YdczLa-s5Q9VO7RDjgDxvRJpUPw5YDxQHJJm8UckjrYyLZ_pPh_UOBN5Rjn20TbtRvXjv2qyxxwUOiuI4RHb5ej4tvBgtoWeOQCFYSrCf0rWFl13kFbrvc?width=1836&height=1032&cropmode=none");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://dsm01pap002files.storage.live.com/y4mM6OxOmTMT6zlTZfsadYm8C2jHCVRNEAvIgDaQ22J1XWTgGI8ITGt8b_v_EHUyjgbV-FRvd0JL6YdczLa-s5Q9VO7RDjgDxvRJpUPw5YDxQHJJm8UckjrYyLZ_pPh_UOBN5Rjn20TbtRvXjv2qyxxwUOiuI4RHb5ej4tvBgtoWeOQCFYSrCf0rWFl13kFbrvc?width=1836&height=1032&cropmode=none");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#splash p {
  color: white;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

#splash h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  font-family: 'Space Grotesk', sans-serif;
}

#intro {
  color: white;
  margin-top: 20px;
  padding-left: 25px;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  background-color: #4d4d4d;
}

#intro p {
  margin: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
}

#intro h2 {
  text-align: center;
  margin: 10px;
}

#border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 15px solid;
  background: transparent;
  border-image-source: linear-gradient(0deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  border-image-slice: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px red, inset 0 0 20px red;
          box-shadow: 0 0 10px red, inset 0 0 20px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: moveGradient 0.3s ease-in-out, turn 2s ease-in-out;
          animation: moveGradient 0.3s ease-in-out, turn 2s ease-in-out;
  padding: 0;
  overflow: hidden;
}

#square {
  position: relative;
  height: 350px;
  width: 350px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#square img {
  width: 350px;
  height: 350px;
}

#square > * {
  position: absolute;
  height: 100%;
  width: 100%;
}

#blend * {
  position: absolute;
  height: 100%;
  width: 100%;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.one {
  display: -ms-grid;
  display: grid;
  background-color: green;
}

.two {
  background-color: black;
  display: -ms-grid;
  display: grid;
}

.three {
  background-color: grey;
  display: -ms-grid;
  display: grid;
}

.four {
  background-color: gold;
  display: -ms-grid;
  display: grid;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes turn {
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    border-image-source: linear-gradient(270deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  }
}

@keyframes turn {
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    border-image-source: linear-gradient(270deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.9);
            transform: translateY(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.9);
            transform: translateY(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes moveGradient {
  0% {
    border-image-outset: 50px;
  }
  100% {
    border-image-outset: 0px;
  }
}

@keyframes moveGradient {
  0% {
    border-image-outset: 50px;
  }
  100% {
    border-image-outset: 0px;
  }
}

@media (max-width: 1800px) {
  #header.social {
    -ms-grid-columns: 100px auto clamp(0.8fr, 0.7fr, 20%) 200px;
        grid-template-columns: 100px auto clamp(0.8fr, 0.7fr, 20%) 200px;
    -webkit-transition: grid-template-columns 1s;
    transition: grid-template-columns 1s;
    transition: grid-template-columns 1s, -ms-grid-columns 1s;
  }
  #social {
    overflow: hidden;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
  }
}
/*# sourceMappingURL=style.css.map */